<footer>
  <div class="footer-content">
    
    <div class="footer-brand">
      <div class="logo">
        <span>PixelBR</span>
      </div>
      <p class="slogan">Celebrando a criatividade dos jogos brasileiros.</p>
    </div>

    <div class="footer-links">
      <h3>Links Rápidos</h3>
      <ul>
        <li><a routerLink="/catalogo">Catálogo</a></li>
        <li><a routerLink="/sobre">Sobre Nós</a></li>
      </ul>
    </div>

    <div class="footer-social">
        <h3>Conecte-se</h3>
        <a href="https://github.com/pauloroberto3" target="_blank" title="Veja o projeto no GitHub">
            <i class="fab fa-github"></i>
        </a>
    </div>
    </div>

  <div class="footer-bottom">
    <p>© 2025 PixelBR. Todos os direitos reservados.</p>
  </div>
</footer>