<div class="home-container">
  <section class="hero-carousel">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div *ngFor="let slide of slidesDoCarrossel" class="swiper-slide" [style.background-image]="'linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(' + slide.imagemFundo + ')'">
          <div class="slide-content">
            <h2>{{ slide.titulo }}</h2>
            <p>{{ slide.texto }}</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="featured-games">
    <h2 class="section-title">Jogos mais Famosos</h2>
    <app-game-card [jogos]="jogosEmDestaque" [cardStyle]="'list'"></app-game-card>
  </section>

  <section class="genres-section">
    <h2 class="section-title">Navegue por Gêneros</h2>
    <div class="genre-grid">
      <a class="genre-card">Ação</a>
      <a class="genre-card">Aventura</a>
      <a class="genre-card">RPG</a>
      <a class="genre-card">Estratégia</a>
      <a class="genre-card">Corrida</a>
      <a class="genre-card">Terror</a>
    </div>
  </section>
</div>
